[submodule "stations/lofi"]
	path = stations/lofi
	url = https://github.com/bit-orbit/lofi.git
[submodule "stations/rock"]
	path = stations/rock
	url = https://github.com/bit-orbit/rock.git
[submodule "stations/country"]
	path = stations/country
	url = https://github.com/bit-orbit/country.git
[submodule "stations/taylor-swift"]
	path = stations/taylor-swift
	url = https://github.com/js-radio/taylor-swift.git
[submodule "stations/Leonard-Cohen"]
	path = stations/Leonard-Cohen
	url = https://github.com/js-radio/Leonard-Cohen.git
[submodule "stations/jazz"]
	path = stations/jazz
	url = https://github.com/shabane/jazz.git
[submodule "stations/ModernTalking"]
	path = stations/ModernTalking
	url = https://github.com/js-radio/ModernTalking.git
[submodule "stations/rostam"]
	path = stations/rostam
	url = https://github.com/js-radio/rostam.git
[submodule "stations/waves"]
	path = stations/waves
	url = https://github.com/js-radio/waves.git
